<h2>All tasks</h2>



<% @tasks.each do |task| %>
<input type="checkbox" name="task">
  <%= link_to task.title, task_path(task) %>
  <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %><br>
</input>
<% end %>


 <p>+</p> <%= link_to "add a new task", new_path %>


